.top-area {
    display: flex;
    justify-content: space-between;
}

.heading-text {
    font-weight: bold !important;
    margin-top: 35px !important;
    margin-bottom: 20px !important;
}

.css-1c5iwy8-MuiInputBase-root-MuiOutlinedInput-root {
    margin: 35px 0px !important;
    background-color: white;
}

.css-i44wyl {
    margin: 35px 0px !important;
    background-color: white;
}

@media (max-width: 555px) {
    .top-area {
        flex-direction: column;
        align-items: center;
    }

    .heading-text {
        margin-bottom: -25px !important;
    }
}